<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout/plantilla :: head}">
    <title>Cabañas SyC</title> 
</head>
<body>
    <section th:fragment="cabinList">
        <div class="content w-full h-screen bg-[#4B2A1F]">
            <section class="carousel-container flex justify-between items-center h-screen">
                <div class="card ">
                    <img th:src="@{/imgs/index/home image 3.jpg}" class="h-[200px] w-200px">
                </div>
                <div class="card">
                    <img th:src="@{/imgs/index/home image 3.jpg}" class="h-[200px] w-200px">
                </div>
                <div class="card">
                    <img th:src="@{/imgs/index/home image 3.jpg}" class="h-[200px] w-200px">
                </div>
            </section>
        </div>
    </section>
</body>
</html>